# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Logs
*.log

# CSV Logs
logs/*.csv

# Screenshots
screenshots/*
!screenshots/
!screenshots/no_helmet_detected_2026-06-27_17-38-36-527989.jpg

# Output Files
output/*

# Python Environment
.env

# OS Files
.DS_Store
Thumbs.db

videos/